.Navbar {
  background-color: #212121;
  margin: 0px;
  display: flex;
  justify-content: space-between;
}

#Logo {
  height: 50px;
  width: 100px;
  align-self: center;
  margin: 0px 20px;
}

.Navbar ul {
  display: flex;
}

.Navbar a {
  display: block;
  background-color: #424242;
  padding: 10px 20px;
  margin: -10px 3px;
  font-size: larger;

  border-radius: 15px;
}

.Navbar a:hover {
  background-color: slategray;
}

.Navbar a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
