.CarSegment {
  border: 2px solid black;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  background-color: white;
  width: 600px;
  margin: 5px;
}

.CarSegment h2 {
  margin: 10px;
}

.CarSegment h3 {
  margin: 10px;
}

.CarSegment img {
  height: 150px;
  margin: 10px;
}

.CarSegment li {
  display: block;
}
