.CarSegment {
  width: 250px;
  height: 300px;
}

.CarSegment h2 {
  margin: 10px;
}

.CarSegment img {
  width: 100%;
  background: radial-gradient(ellipse at center, rgba(100, 100, 150, 0.4) 10%, transparent);
}

.CarSegment li {
  display: block;
}