.App {
  text-align: left;
  font-family: Segoe UI, Arial, Helvetica, sans-serif;
}

body {
  margin: 0px;
  background-color: gainsboro;

}

.LightCard {
  display: grid;
  border-radius: 15px;
  margin: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.19);
}

.Grayscale {
  filter: grayscale(100%);
}

.FullColors {
  filter: grayscale(100%);
}

.bold {
  font-weight: bold;
}

a {
  text-decoration: none;
  color: inherit;
}

.Grow:hover {
  transition: all .1s ease-in-out;
  transform: scale(1.03);
}

a:hover {
  transition: all .1s ease-in-out;
  transform: scale(1.03);
}


button {
  background: steelblue;
  color: white;
  border: 0px;
  transition: transform 0.1s;
  cursor: pointer;
  font-size: xx-large;
  font-weight: bold;
  border-radius: 5px;
}

.ButtonEffects:hover {
  transition: all .1s ease-in-out;
  box-shadow: inset 0px 0px 400px 110px rgba(0, 0, 0, .2);
}

.ButtonEffects:active {
  transition: all .1s ease-in-out;
  transform: scale(0.95);
}

button:hover {
  transition: all .1s ease-in-out;
  box-shadow: inset 0px 0px 400px 110px rgba(0, 0, 0, .3);
  color: white;
}

button:active {
  transition: all .1s ease-in-out;
  transform: scale(0.95);
}