.CarModel {
  max-width: 300px;
  min-width: 200px;
}

.CarModel * {
  padding: 1px;
  font-size: 18px;
}

.CarModel .flex-row {
  display: flex;
  margin: 10px;
}



.CarModel #Logo {
  width: 50px;
  margin-right: 10px;
  object-fit: scale-down;
  filter: brightness(0);
}

.CarModel p {
  margin: 5px;
}

.CarModel line {
  border-top: 1px solid rgba(0, 0, 0, .1);
  margin: 0.5rem;
}

.CarModel tr {
  display: flex;
  justify-content: space-between;
  padding-inline: 0.5rem;
}

.CarModel #Car {
  background: radial-gradient(ellipse at center, rgba(100, 100, 150, 0.3) 10%, transparent);
  width: 100%;
  background-color: transparent;
}

.CarModel button {
  margin: 5% 15%;
  padding: 5px;
}